body{
	background-color: #0e0202;
	font-family: Arial;
}


a {
	text-decoration: none;
	color: white;
}

#content{
	background-color: #1e0606;
	width: 1000px;
	margin-left: auto;
	margin-right:auto;
}

#header {
	padding: 10px;
	background-color: #441a09;
	color: white;
	font-weight:bold;
	text-align: center;
	font-style: italic;
}

.logo{
	width: 120px;
	float: left;
}

.cart{
	width: 80px;
	float: right;
	padding: 10px;
}


#main{
	padding: 10px;
}

#navigation{
	width: 180px;
	float: left;
	font-weight:bold;
	color: white;
	font-style: italic;
}

#navigation ul{
	list-style-type: none;
	padding: 0;
	
}

#general{
	width: 600px;
	float: right;
	font-size: 18px;
	text-align: justify;
	color: white;
}


.search{
	width: 250px;
	float: left;
	padding: 25px 10px 10px 0px;
}

.drink1{
	width: 580px;
	float: center;
	padding: 0px 10px 0px 10px;
}

.addtc{
	width: 280px;
	padding: 10px;
	float: right;
}

.cupsizes{
	width: 300px;
	padding: 10px;
	float: right;
}

.cupinfo{
	
	padding: 0px 0px 0px 25px;
	font-weight:bold;
	color: white;
	font-style: italic;
	font-size: 20px;
	
}

#footer{
	clear: both;
	padding: 10px;
	background-color: #35170a;
	color: white;
	text-align: left;
}

.text-img {
  float: left;
  width: 32%;
  padding: 5px 0px 5px 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



